<table class="table">
  <%
    sorted_data = data.send(topic).sort_by {|x| x[1]["date"] }.reverse
    sorted_data.each do |res|
    url_name = res[0]
    next if url_name =~ /BLURB:/
    details = res[1]
    url_link = details["url"]
    date = details["date"] || "1970-01-01"
    type = details["type"] || "text"
    auth = details["author"]["name"]
    aka  = details["author"]["twitter"]
    text = details["text"]

    # Icons from Font Awesome, an MIT licensed font:
    # http://fortawesome.github.io/Font-Awesome/icons/
    icon_type = case type
      when "video"
        :video_camera
      when "audio"
        :volume_up
      when "email"
        :envelope
      else
        :file_text
      end
  %>

  <tr>
      <td>
        <%= link_to icon(icon_type, library: :font_awesome), url_link %>
      </td>
      <td class="resource_url">
        <%= link_to url_name, url_link %><br/>
      </td>
      <td class="resource_date" nowrap>
        <em><%= date <= Date.new(1970,1,1) ? "the dawn of time" : date %></em>
      </td>
      <td nowrap>
        by
        <%= aka ? (link_to auth, "https://twitter.com/#{aka}") : auth %>
      </td>

    </tr>
    <% if text %>
      <tr><td colspan=4>
      <%= panel text, context: :success %>
    </td></tr>
    <% end %>
  </tr>
  <% end %>
  </table>
</div>
</div>
