---
title: Metakitty Resources
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Local versions for safety. Pare down the bootstrap.min someday soon -->
    <%= stylesheet_link_tag('font-awesome.min', :relative => true) %>
    <%= stylesheet_link_tag('bootstrap.min', :relative => true) %>
    <%= stylesheet_link_tag('bootstrap-theme', :relative => true) %>
    <%= stylesheet_link_tag(:custom, :relative => true) %>
    <%= javascript_include_tag 'jquery.min', :relative => true %>
    <%= javascript_include_tag 'bootstrap.min.js', :relative => true %>
  </head>
  <body>

  <%= partial :topnav %>

  <%= partial :accordion_example %>

  </body>
  </html>
