
<% nav as: :pills, position: :static, align: :right do %>
  <%= link_to 'Help',      'https://help.metasploit.com' %>
  <%= link_to 'API',       'api/' %>
  <%= link_to 'Community', 'https://community.rapid7.com/community/metasploit' %>
  <%= link_to 'Support',   'https://www.rapid7.com/support/' %>
<% end %>

<% content_tag :div, align: :center do %>
  <%= image_tag 'metasploit-black-logo.png', :class => :logo %>
  <p>RESOURCE PORTAL</p>
<% end %>
