<% nav as: :pills, position: :static do %>
  <%= link_to 'Docs',      'https://help.metasploit.com' %>
  <%= link_to 'API',       'https://rapid7.github.io/metasploit-framework/api/' %>
  <%= link_to 'Community', 'https://community.rapid7.com/community/metasploit' %>
  <%= link_to 'Support',   'https://www.rapid7.com/support/' %>
  <%= link_to 'Stats',     'pull_requests.html' %>
<% end %>

<% content_tag :div, align: :center do %>
  <%= image_tag 'metasploit-white-logo.png', :class => :logo %>
  <h4 class="text-warning">EXTERNAL RESOURCE PORTAL</h4>
  <br>
<% end %>
