---
title: Metasploit Resource Portal
topics:
  - :getting_started
  - :pro_tips
  - :contributing
  - :meterpreter
  - :common_issues
  - :writing_modules
---

<div align="left" style="background-color: white; padding: 5px;">
  <%= image_tag 'r7-logo.png', :class => "logo-r7" %>
</div>

<%= partial :topnav %>

<div class="panel-group" id="accordion">
  <% current_page.data.topics.each do |topic| %>
    <% next unless (data.respond_to? topic) %>
    <%= partial :_panel_heading, :locals => {:topic => topic } %>
  <% end %>
</div>

<div class="jumbotron" align="center">
  <h2>The world's most used penetration testing software</h2>
  <p class="text-warning">Put your network's defenses to the test</p>
  <h6>

  A collaboration of the open source security community and Rapid7. Our
  penetration testing software, Metasploit, helps verify vulnerabilities and
  manage vulnerability assessments.

  </h6>

  <%= link_to button("#{icon(:download, library: :font_awesome, class: "text-warning fa-2x", style: "vertical-align: middle" )} Free Metasploit Download", context: :info),
    'http://www.rapid7.com/products/metasploit/download.jsp'
  %>

</div>

<div align="left" style="background-color: white; padding: 5px;">
  <%= image_tag 'r7-logo.png', :class => "logo-r7" %>
</div>
