<!DOCTYPE html>
<html>
  <head>
    <title>GitStats - git_stats</title>
    <meta charset='utf-8'>
    <!-- REQUIRED -->
    <style> body { padding-top: 60px; }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css" rel="stylesheet">
    <script src="assets/jquery.min.js" type='text/javascript'></script>
    <script src="assets/highstock.js" type='text/javascript'></script>

    <script src="assets/bootstrap/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/bootstrap/js/scripts.js"></script>
    <!-- EO REQUIRED -->
  </head>
  <body>
    <!-- NAVBAR-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button> <a class="navbar-brand" href="#">MSF Dashboard Stats</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="">Metasploit Community</a></li>
                <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Metasploit<strong class="caret"></strong></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="">About Metasploit</a>
                    </li>
                    <li>
                      <a href="https://github.com/">Github</a>
                    </li>
                    <li>
                      <a href="">Resource Portal</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- NAVBAR END-->

    <!-- BADGE LIST -->
    <ul class="nav nav-pills" role="tablist">
      <%= badge %>
    </ul>
    <!-- BADGE LIST END-->
    <div class='container'>
      <div class='tabbable tabs-left'>
        <ul class='nav nav-tabs'>
          <li>
            <%= toc %>
          </li>
        </ul>
        <div class='tab-content'>
          <div class='tab-pane active'>
            <div class='page-header'>
              <h1 class='pagination-centered'><%= title %> by date</h1>
            </div>
                    <script type="text/javascript">
                    (function() {
                      var onload = window.onload;
                      window.onload = function(){
                        if (typeof onload == "function") onload();
                                var options = { "title": { "text": "" },"legend": { "enabled": false },"xAxis": { "title": { "text": null } },"yAxis": { "title": { "text": "<%= title %>" },"labels": {  } },"tooltip": { "enabled": true },"credits": { "enabled": false },"plotOptions": { "areaspline": {  } },"chart": { "defaultSeriesType": "line","renderTo": "comments_by_date" },"subtitle": {  },"series": [{ "name": "<%= title %> by date","type": "spline","data": <%= stat_data %> }] };

                    window.chart_comments_by_date = new Highcharts.StockChart(options);

                      };
                    })()
                    </script>
            <div id="comments_by_date"></div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <h1>Top Committers</h1>
      <tr><%= top_committers_1 %></tr>
      <tr><%= top_committers_2 %></tr>
      <tr><%= top_committers_3 %></tr>
    </table>
    <%= accordion %>
  </body>
</html>
